body
{
background-color: rgb(6, 21, 63);
}

h1
{
 color: rgb(97, 95, 95);
background-color: rgb(57, 45, 221);
}

#show_sketch
{
fload: right;
}

canvas
{
border:5px solid whitesmoke;
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
margin-top;
animation-iteration-count: infinite;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px gray;}
    to{box-shadow: 1px 1px 38px white;}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}